.row
  .container
    .span12
      .span6
        %p &copy; Copyright 2013. Habit Technologies, LLC
      .span6
        %ul.inline-list.right
          %li
            = link_to "Habit Watch", root_path