.navbar.navbar-custom
  .navbar-inner
    .container
      .brand
        =link_to image_tag "logo.png"
      %ul.nav
        - if user_signed_in?
          %li
            = link_to 'Logout', logout_path, :method=>'delete', class: 'button small'
        - else
          %li
            = link_to 'Login', login_path, class: 'button large'
        - if user_signed_in?
          %li
            = link_to 'Settings', settings_path, class: 'button small'
        - else
          %li.sign-up
            = link_to 'Sign up', signup_path, class: 'button small'

